@model BIMS.Models.Item

@{
    ViewData["Title"] = "Item Details";
}


  
        <div class="card-header bg-primary text-white">
            <h1 class="h4 mb-0">Item Details</h1>
        </div>
     
<div class="card">
    <div class="card-body">
        <h4 class="card-title text-muted">Item Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                <span class="fw-bold">@Html.DisplayFor(model => model.Name)</span>
            </dd>

            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.ItemCategory)
            </dt>
            <dd class="col-sm-8">
                <span class="badge bg-info text-dark">@Html.DisplayFor(model => model.ItemCategory.Name)</span>
            </dd>
        </dl>
    </div>
</div>