<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">



<div class="d-flex justify-content-around align-items-center py-4">
    <a asp-action="Create" asp-controller="Shops" class="text-decoration-none text-dark d-flex align-items-center">
        <i class="bi bi-shop me-2"></i>
        I'm a Shop Owner
    </a>
    <a asp-action="Create" asp-controller="Owners" class="text-decoration-none text-dark d-flex align-items-center">
        <i class="bi bi-building me-2"></i>
        I'm a Building Owner
    </a>
</div>


  
