@model int

<form action="Increment()">
    <label>first number:</label>
    <input type="text" name="a" placeholder="a" /><br />
    <label>second number:</label>
    <input type="text" name="b" placeholder="b" /><br />
    <button type="submit" >submit</button>

</form>


<p>
    @Model
</p>
