@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/lilo.css" />


<div class="row" >
    <h1 class="home-heading">What Are You Looking For?</h1>

    <a class="m-auto col-11 col-md-6 col-lg-3"
       asp-action="Index" asp-controller="Shops">
        <div class="home-link">
        <img class="home-image" src="/images/shopping.jpg" alt="Shops" />
        <h1 class="home-card">
            Shops
        </h1>
        </div>
    </a>
    
    <a class="m-auto col-11 col-md-6 col-lg-3">
        <div class="home-link">
            <img class="home-image" src="/images/rent.jpg" alt="Rent" />
        <h1 class="home-card">
            Rent Shop Or Office
        </h1>
        </div>
    </a> 
    

    <a class="m-auto col-11 col-md-6 col-lg-3"
       asp-action="Index" asp-controller="Owners">
        <div class="home-link">
        <img class="home-image" src="/images/BMS.jpg" alt="BMS" />
        <h1 class="home-card">
            To Use Our BMS System
        </h1>
        </div>
    </a>
</div>




